.bg {
  position: fixed;
  inset: 0;
  z-index: 50;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.142);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal {
  width: 500px;
  border-radius: 0.8rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  padding: 1rem 1rem 3rem 1rem;
  position: relative;
  h2 {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 1rem;
    b {
      font-weight: 800;
    }
  }
  h3 {
    font-size: 0.8rem;
    color: #aaa;
  }
  input {
    @media (max-width: 600px) {
      height: 2rem;
      font-size: 1.1rem;
    }
    width: 100%;
    text-indent: 0.5rem;
    border: black solid 1px;
    border-radius: 0.2rem;
  }
  .inp_wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
    label[for='title'] {
      margin-right: 3.1rem;
    }
    label[for='description'] {
      margin-bottom: auto;
    }
    input[type='date'],
    input[type='time'] {
      cursor: pointer;
    }
    textarea {
      width: 100%;
      padding: 0.5rem;
      max-height: 100px;
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    @media (max-width: 600px) {
      // width: 50%;
      gap: 0.7rem;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      button {
        width: 30px !important;
        height: 30px !important;
      }
    }

    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 5px solid;
    }
  }

  .span_btns {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    gap: 0.5rem;
  }

  .btn {
    border-radius: 0.3rem;
    border: 1px solid #ddd;
    box-shadow: 0 3px 5px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 0 0.5rem;
    cursor: pointer;
    &:disabled {
      cursor: initial;
    }
  }

  .span_del {
    @extend .span_btns;
    right: auto;
    left: 1rem;
  }

  .btn_del {
    position: absolute;
    bottom: 1rem;
    color: red;
    @extend .btn;
  }

  @keyframes popup {
    0% {
      scale: 0.8;
    }
    100% {
      scale: 1;
    }
  }
  // animation: popup 50ms ease-out;
}

.swith_wrap {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 1rem;
  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    & > div {
      background-color: red;
      display: flex;
      width: 27px;
      height: 27px;
      justify-content: center;
      align-items: center;
      border-radius: 0.3rem;
      margin: 0 1rem 0 0;
    }
    p {
      margin-right: auto;
    }
  }
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  width: 40px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 9999px;
  div {
    position: absolute;
    pointer-events: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.1s ease-in-out;
  }
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
